<select id={{id}} onchange={{action 'onChange'}} multiple={{_isMultiple}} disabled={{attrs.disabled}}>
    {{#if hasPlaceholder}}
        {{#siren-option disabled=true hidden=true selected=(or (is-undefined _selected) (and (not canBeNull) (is-null _selected)))}}
            {{_placeholder}}
        {{/siren-option}}
    {{/if}}
    {{#if canBeNull}}
        {{#if (is-function _selected)}}
            {{siren-option selected=(compute _selected (null-value))}}
        {{else}}
            {{siren-option selected=(eq _selected (null-value))}}
        {{/if}}
    {{/if}}
    {{#each _options as |option|}}
        {{#siren-let (compute valueMap option) as |optionValue|}}
            {{#if (is-function _selected)}}
                {{#siren-option selected=(compute _selected optionValue)}}
                    {{yield option}}
                {{/siren-option}}
            {{else if (not (is-undefined _selected))}}
                {{#siren-option selected=(or (and (not _isMultiple) (eq optionValue _selected)) (and _isMultiple (contains _selected optionValue)))}}
                    {{yield option}}
                {{/siren-option}}
            {{else}}
                {{#siren-option}}
                    {{yield option}}
                {{/siren-option}}
            {{/if}}
        {{/siren-let}}
    {{/each}}
</select>
